<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:installLocation="auto" android:versionName="1" package="com.motz.stocks">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<application android:label="StockDemo.Droid" android:icon="@drawable/Icon"></application>
</manifest>